*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f8f4ec;
}

.login-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#3b2a1a,#6b4f2a,#d4af37);
}

.login-card{

width:420px;
background:#fffaf3;
padding:40px;
border-radius:18px;
box-shadow:0 10px 30px rgba(0,0,0,.25);

}

.login-card h1{

color:#8B5E3C;
text-align:center;
margin-bottom:8px;

}

.login-card h2{

text-align:center;
color:#3b2a1a;
margin-bottom:10px;

}

.login-card p{

text-align:center;
color:#666;
margin-bottom:25px;

}

.input-box{

position:relative;
margin-bottom:20px;

}

.input-box input{

width:100%;
padding:14px;
border:2px solid #d4af37;
border-radius:10px;
outline:none;
font-size:16px;
background:white;

}

.input-box input:focus{

border-color:#8B5E3C;

}

.show-btn{

position:absolute;
right:15px;
top:15px;
cursor:pointer;
font-size:14px;
color:#8B5E3C;
font-weight:bold;

}

.login-btn{

width:100%;
padding:14px;
border:none;
background:#8B5E3C;
color:white;
font-size:17px;
border-radius:10px;
cursor:pointer;
transition:.3s;

}

.login-btn:hover{

background:#6d472c;

}

.signup-text{

margin-top:20px;
text-align:center;

}

.signup-text a{

text-decoration:none;
color:#b8860b;
font-weight:bold;

}

.signup-text a:hover{

text-decoration:underline;

}